
h1{color: brown; text-align: center;background-color: rgb(8, 171, 241);}
pre{color: rgb(22, 6, 255);background-color: rgba(0, 209, 209, 0.705);}
i{color: rgb(12, 247, 12);background-color: rgb(0, 1, 1);}
body{background-color: rgba(21, 150, 230, 0.259);text-align: center}
b{color: ;}
table{color: rgb(247, 10, 247);}
li{color: rgb(202, 251, 6);}
body{background-color: rgba(0, 0, 0, 0.79);}